<section id="future">
	<div class="container">
		<h1>{{future.title}}</h1>
		<p>{{future.text}}</p>
		<ul>
			{{#each future.list}}
				<li>
					<h4><a href="{{link}}" title="{{title}}" target="_blank">{{title}}</a></h4>
					<p>{{text}}</p>
				</li>
			{{/each}}
		</ul>
	</div>
</section>
